body{background-color:#1BCA9B ;}

nav{
  border-radius: 95px;
   background-color: white;}
   
nav ul{overflow: auto;}

nav li{list-style:none;
       float: left;
       padding: 80px 10px;
       color:rgb(215,28,246);}
       
nav li:hover{font-weight:bold;
             background-color:rgb(95,214,123);}
  
.allp,div {background-color:grey;
           border-radius:9px;
}

.font{font-size:13px;
      font-weight:bold;}
      
.new{display: flex;
     flex-direction:row;
     vertical-align: middle ;
}

#span{position:absolute;
       top:59%;
       left:15%;
      
}

.font2{font-size:29px;
       font-weight:100;}
       
  #img{border:10px solid #fdbefa;}
  
  #unique{ border:2px solid #5defdcfd ;
          position:absolute;
          top:90%;
          left:100%;
  }
  
  
